body {
    background-color: rgb(239, 243, 248);
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, .nav-heading {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.custom-font {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*navigation bar*/
.navbar {
    background-color: white;
}

.zoom {
    transition: transform 0.3s ease;
}

.zoom:hover {
    transform: scale(1.1);   /* zoom the image 20% */
}

/*username link associated with image and navbar links*/
.custom-link {
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease;
}

.custom-link:hover {
    color: black;
    transform: scale(1.1);
}

/*success message styling*/
.success-message {
    color: green;
}

/*error messages styling*/
.error-message {
    color: red;
    margin-top: 5px;
}