/*https://www.scaler.com/topics/bootstrap-felx/*/


.modal-backdrop {
    backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* Adjust the background color and opacity as needed */
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-content {
    position: fixed;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}